@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #EEEEEE;
}
#main{
    padding-top: 8vh;
    max-width: 1000px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 75px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
#banner{
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header-img{
    width: 100%;
    height: auto;
    max-width: 300px;
}
#nav-bar{
    width: 40vw;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav-link{
    padding: 5px;
    cursor: pointer;
}
.nav-link a{
    text-decoration: none;
    color: black;
}

#starter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#title{
    font-size: 26px;
    margin-bottom: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
#email{
    padding: 5px 5px;
}
#submit{
    width: 150px;
    margin: 15px auto 0;
    padding: 10px 0;
    text-align: center;
    border: 0px;
    background-color: #ffce2c;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 17px;
    line-height: 10px;
}
#submit:hover{
    background-color: #FFA600;
}
section{
    width: 100%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section ul{
    list-style: none;
}
.benefits{
    margin: 50px 0;
    display: flex;
    align-items: center;
}
.icon{
    margin: 0 auto 0 0;
    width: 20vh;
    text-align: center;
}
.fas{
    font-size: 3em;
    color: #FF8C00;
    text-align: center;
}
.desc{
    width: 75%;
    font-size: 15px;
}
#video{
    max-width: 100%;
}
#pricing{
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.card{
    width: 30%;
    height: 300px;
    border: 1px solid black;
    min-width: 250px;
}
.card-title{
    text-align: center;
    margin-bottom: 10px;
    background-color: #DDDDDD;
    width: 100%;
    height: 15%;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 16px;
}
.card-price{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 20px 0;
}
.card ul{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card ul li{
    padding: 5px 0;
}
.btn{
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 90px;
    height: 45px;
    line-height: 45px;
    background-color: #ffce2c;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: #FF8C00;
}
#footer{
    width: 100%;
    height: 70px;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-nav{
    list-style: none;
    display: flex;
}
.footer-links{
    padding: 15px 15px 0 15px;
}
.footer-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#footer p{
    font-size: 15px;
    margin: 0;
    color: #4b4a4a;
    padding: 5px 5px 20px 5px;
}

@media(max-width: 780px){
    #pricing{
        flex-direction: column;
    }
    .card{
        margin: 10px 0;
        width: 40%;;
    }
}
@media(max-width:600px){
    #header{
        height:auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner{
        width: 100%;
        text-align: center;   
    }
    #nav-bar{
        width: 100%;
    }
    .nav{
        flex-direction: column;
    }
    .nav-link{
        padding: 10px;
    }
    #main{
        padding-top: 17vh;
    }
    #title{
        font-size: 18px;
    }

    .icon{
        display: none;
    }
    .desc{
        width: 100%;
        text-align: center;
    }
}